h1 {
  font-family: 'Abril Fatface', cursive;
  padding: 1rem 0;
  text-align: center;
  letter-spacing: 1px;
}
p{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
h2 {
  font-family: 'Abril Fatface', cursive;
 text-align: center;
}
header {
  font-family: 'Abril Fatface', cursive;
  background:  #31445e;
   /*padding: 3rem 0;*/
  text-align: center;
}

/*.container {*/
/*  text-align: center;*/
/*  padding: 2rem !important;*/
/*  margin: 3rem 3rem ;*/
/*  background-color: #ffffff;*/
/*  box-shadow: -15px 15px lightslategray;*/
/*  width:600px;*/
/*}*/

.containerText {
  justify-content: space-around;
  text-align: center;
  /*padding: 2rem !important;*/
  /*margin: 1rem 1rem ;*/
  align-items: center;

}
.containerAlt{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  padding: 15px 15px !important;
  margin: 1rem 1rem ;
  align-items: center;
  background-color: #ffffff;
  box-shadow: -15px 15px lightslategray;
}

.footer {

  background-color: white;
  text-align: center;
}
.app{
  font-family: 'Abril Fatface', cursive;
  background-image: url(./assets/bgk.png);
  background-size: cover;
  background-position: center;
  background-color: #687689;
  background-repeat: no-repeat;
}
.cantidad1{
  font-family: 'Abril Fatface', cursive;
  background: url(./assets/hoisehold.png) center no-repeat;
  /*padding: 5px 15px 8px 98px;*/
  background-size: cover;
  font-size: 1em;
 font-weight: 600;
  margin: 22px;
  width: 300px;
  justify-content: space-between;
}
.cantidad2{
  font-family: 'Abril Fatface', cursive;
  background: url(./assets/person.png) center no-repeat;
  /*padding: 5px 15px 52px 90px;*/
  background-size: cover;
  font-size: 1.2em;
  /*text-align: right;*/
  font-weight: 600;
  width: 300px;
  justify-content: space-between;
}
.live-update {
  font-family: 'Abril Fatface', cursive;
  background-color: #FFF;
  padding: 18px 0px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: -15px 15px 0 #ffffff47;
}
.get-summary{
  font-family: 'Abril Fatface', cursive;
  background-color: #FFF;
  padding: 18px 0px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: -15px 15px 0 #ffffff47;
}
.items{
  align-items: center;
}
.big{
  font-size:3.8em;
}

.buttons {
  display: flex;
justify-content: center;
  padding: 1rem!important;
  margin: 2rem 1rem ;
  background-color: #ffffff;
  box-shadow: -15px 15px lightslategray;
  font-size: 40px;
  border-radius: 5px;

}

@media (max-width: 767px) {
  .big  {
    font-size: 1.5em;
    text-align: center;
  }
  .cantidad1 {
    font-size: 10px;
  }

}

.H2 {
  margin: 0 2em;
  padding: 0 2em;
}

.H3 {
  margin: 0 2em;
  padding: 0 3em 1em;
}
.per{
 display: flex;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .per{
    display: block;
  }
  .H2 {
    margin: 0 1em;
    padding: 0 1em;
  }

  .H3 {
    margin: 0 1em;
    padding: 0 1em .2em;
  }

}